/*xs-screen*/

@media (max-width:824px){
	header nav{
		display: none;
	}
	header .menu{
		display: block;
	}
	.mobileHide{
		display: flex;
	}
	.mobileMenu{
		position: absolute;
		top: 0;
		width: 40%;
		flex-direction: column;
		padding: 0px;
		background-color: #ddd;
		left: 0;
		height: 100%;
		z-index: 100;
	}
	nav ul li {
		margin: 10px 0px;
		padding: 10px;
		text-align: center;
	}
	nav li:hover::after{
		content: unset;
		}
	nav li:hover{
		background-color: #222;
		color: #fff;
		transition: all .5s;
	}
	/* .cart{
		position: absolute;
		bottom: 15%;
	}
	.cart .wish--list{
		padding: 0 150px;
		padding: 30px 54px;
		background-color: #63d163;
		color: #eee;
		padding: 30px 90px;
		background-color: #d16363;
		color: #eee;
		margin: 0px 100px 0 40px;
		border: 2px solid #222;
	}
	.cart .nav--cart{
		padding: 30px 90px;
		background-color: #63d163;
		color: #eee;
		margin: 0px 40px 0 100px;
		border: 2px solid #222;
	}
	} */




	.carousel-indicators{
		flex-direction: row;
		top: 500px;
	}
	.slide{
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.slide img{
		width: 650px;
		height: 330px;
		margin: -100px 0 0 335px;
	}
	.slide-1 h1{
		position: absolute;
		top: 320px;
		left: 70%;
		text-align: center;
		font-size: 70px;
	}
	.slide-1 h2{
		font-size: 20px;
		position: absolute;
		bottom: 90px;
		right: 60%;
		font-weight: 900;
		filter: drop-shadow(1px 2px 0px #5656d1 );
		font-variant-caps: small-caps;
		font-style: italic;
	}
	.slide-1 button{
		position: absolute;
    	bottom: 50px;
    	left: 170px;
	}
	.slide-1 button a{
		padding: 15px 70px;
	}
	.slide-content{
		flex-direction: column;
		align-items: center;
	}
	.slide-2 span{
		display: none;
	}
	.slide-2 img{
		/* opacity: .6; */
    	margin: 0;
    	height: 500px;
    	position: relative;
    	z-index: -2;
	}
	.slide-2 button{
		position: absolute;
		top: 66%;
		left: 65%;
		width: 130px;
		height: 130px;
		font-size: 25px;
	}
	.slide-2 .slide-content{
		position: absolute;
		color: #fff;
	}
	.slide3--img{
		display: flex;
    	justify-content: center;
   		flex-direction: row;
   		flex-wrap: wrap;
		max-width: 500px;
	}
	.slide3--img:nth-child(1){
		margin: 0px 40px 0 0px;
		width: 200px;
		height: 200px;
	}
	.slide3--img:nth-child(2){
		margin: 0px 0 40px 50px;
		width: 200px;
		height: 200px;
	}
	.slide3--img:nth-child(3){
		margin: -153px 145px;
		width: 200px;
		height: 200px;
	}
	
}

/*md-screen*/

@media (min-width:768px)and (max-width:991px){
    
    
    
}

/*lg-screen*/

@media (min-width:992px)and (max-width:1199px){
    
}

